    <div class="col-4 bg-secondary p-3 h-100">
      <h2>
        <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Courses</a>
      </h2>
    </p>
    <div class="collapse show" id="collapseExample">
      <ul class="list-unstyled">
        <% @courses.each do |course| %>
          <li>
            <%= link_to course, remote: true, data: {action: 'ajax:success->menu#replace'}  do %>
              <%= course.title %>
              <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
