<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <i class="fas fa-user-graduate text-white d-none"></i>
      </li>
      <li class="menu-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="menu-item">
        <a href="#">Shortcuts</a>
      </li>
      <li class="menu-item">
        <a href="#">Overview</a>
      </li>
      <li class="menu-item">
        <a href="#">Events</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <a class="text-muted" id="menu-toggle" href=""><i id="open-btn" class="fas fa-chevron-circle-left"></i></i> Open</a>
          <p class="text-muted"><a href="#menu-toggle" class="btn btn-default" id="menu-toggle"></a> </i> </p>
          <h1>Simple Sidebar</h1>
          <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
          <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<%= javascript_pack_tag 'sidebar' %>
